
body {
    background: #eee;
    font: 62.5% Verdana, Arial, Helvetica, sans-serif;
    padding: 15px 0px;
    margin: 0px;
  }


img {
    border: none;
  }


fieldset {
    border: none;
  }


del {
    text-decoration: line-through;
  }


a {
    color: #73a822;
    text-decoration: none;
  }


a:hover {
    text-decoration: underline;
  }


table {
    table-layout: fixed;
  }


#wrap {
    background: #fff url('../images/content.png') repeat-x top center;
    margin: 0px auto;
    width: 96%;
    border: solid #e1e1e1;
    border-width: 0 2px 2px 2px;
  }


#content {
    padding: 20px 15px 0px;
    margin: 0 10px;
    color: #666;
  }


.schedule {
    margin-top: 5px;
    width: 100%;
    border-collapse: collapse;
    border: none;
  }


.schedule th {
    background: url('../images/tableheader_bg.png') no-repeat center top;
    padding: 5px 10px;
    color: #467ba7;
    border: 1px solid #cbd6de;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
  }


.schedule td {
    padding: 5px 10px;
    color: #666;
    border: 1px solid #CBD6DE;
    text-align: center;
  }


.probability {
    width: 25%;
  }


.time {
    width: 18%;
  }


.parent-table {
    width: 100%;
  }


.parent-table td {
    width: 20%;
    vertical-align: top;
  }


.parent-table td table td {
    vertical-align: middle;
  }


.parent-table td.first {
    width: 80%;
  }


.icon {
    text-align: right;
  }


.highlight {
    background: #f6f6f6;
  }


.copyright {
    text-align: center;
    border-top: 1px dashed #eee;
    padding-top: 5px;
  }
