<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CRS-o-matic</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.paginate.css') }}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='js/jquery.paginate.js') }}"></script>
		<script src="{{ url_for('static', filename='js/pagination.js') }}"></script>
	</head>
	<body>

		<div id="wrap">
			<div id="content">
				<strong>CRS-o-matic</strong> - a class schedule maker. <strong>It does the heavy lifting so you won't have to!</strong><br />
				<br />
				<strong>How does it work?</strong>
				<ol>
					<li>Simply input the list of classes you desire.</li>
					<li>Click 'Search' and wait for a while.</li>
					<li>The CRS is automatically searched for all classes you specified.</li>
					<li>All possible schedule combinations are tried;</li>
					<li>But only those without conflict will be in sight.</li>
				</ol>

				This project is hosted at <a href="https://github.com/baudm/crs-o-matic">GitHub</a>. For bug reports, feature requests, patch submissions, and the like, create a <a href="https://github.com/baudm/crs-o-matic/issues/new">new issue</a>.<br />
				<br />

			{% if desired %}
				<br />
				Desired classes:
				<ul>
				{% for c in desired.reg %}
					<li>{{ c.name }} ({{ c.credit }})</li>
				{% endfor %}
				{% for c in desired.extra %}
					<li>{{ c.name }} <em>({{ c.credit }})</em></li>
				{% endfor %}
				{% for c in desired.none %}
					<li><del>{{ c.name }}</del> <em>(no such class)</em></li>
				{% endfor %}
				</ul>

				{% if desired.matches %}

					Total number of units: <strong>{{ desired.units }}</strong>
					<br /><br />
					{% if heatmap_mode %}
					<strong style="color: #fff; background-image: linear-gradient(to right, {{ gradient_start }}, {{ gradient_end }})">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Heatmap Mode</strong> activated.
					There are <strong>{{ scheds[0].num_schedules }}</strong> valid schedule{{ scheds[0].num_schedules|pluralize }}.<br/><br/>
					<ul>
						<li>The heatmap shows the distribution of the schedules among the individual time slots.</li>
						<li>The percentage values can also be interpreted as the <em>cost</em> or impact of scheduling a new class at a particular time slot.</li>
						<li>For instance, if a time slot indicates 20%, a new class scheduled at the same time slot will conflict with 20% of the valid schedules.</li>
						<li>In this mode, the number of valid schedules might be higher because classes with the same schedule are treated separately.</li>
					</ul>
					{% else %}
					There {{ scheds|pluralize('is', 'are') }} {{ scheds|length }} schedule{{ scheds|pluralize }} without conflicts out of {{ desired.possible }} possible schedule{{ desired.possible|pluralize }}:
					<br/><br/>
					{% endif %}

					<div class="pagination"></div>

					{% for sched in scheds %}

						{% if loop.index|page_start %}
							 <div id="p{{ loop.index|page_id }}" class="page" style="display: none">
						{% endif %}

						{% if not heatmap_mode %}
					<h2>{{ loop.index }}. ID# {{ sched.id }}</h2>
						{% endif %}
					<table class="parent-table">
						<tr>
							<td class="first">
							{{ sched.get_table()|safe }}
							</td>
							<td>
						{% if not heatmap_mode %}
							{{ sched.get_stats()|safe }}
						{% else %}
							&nbsp;
						{% endif %}
							</td>
						</tr>
					</table>
					<br />

						{% if loop.index|page_end(scheds) %}
							</div>
						{% endif %}

					{% endfor %}

					<div class="pagination"></div>

				{% endif %}

			{% else %}
				<form id="form" method="post">
					<fieldset>
						Basic Filtering:<br />
						<strong>PE 2 TN</strong> - <em>all PE 2 lawn tennis classes</em><br />
						<strong>Geog 1</strong> - <em>all Geog 1 classes</em><br />
						<strong>Geog 1: TH</strong> - <em>all Geog 1 TH* classes (TTh by convention)</em><br />
						<strong>Geog 1: THQ</strong> - <em>all Geog 1 THQ* classes (includes THQ1, THQ2, and so on)</em><br />
						<strong>Geog 1: THQ1</strong> - <em>THE Geog 1 THQ1 class</em><br />
						<strong>Geog 1: !THQ</strong> - <em>all Geog 1 classes excluding THQ* classes</em><br />
						<br />
						Advanced Filtering:<br />
						<strong>Geog 1: TH, WFW</strong> - <em>all Geog 1 TH* and WFW* classes</em><br />
						<strong>Geog 1: TH, !THQ</strong> - <em>Geog 1 TH* classes excluding THQ* classes</em><br />
						<strong>Geog 1: TH, !THQ, WFW1, !THY</strong> - <em>Geog 1 TH* and WFW1 classes excluding THQ* and THY* classes</em><br />
						<br /><br />
						Term: <strong>{{ sem }}</strong><br />
						<label for="searchkey">Desired subjects (order by preference; case-insensitive; newline-separated):</label><br />
						<textarea id="searchkey" name="searchkey" rows="10" cols="20"></textarea><br />
						<input id="heatmap_mode" name="heatmap_mode" type="checkbox"/><label for="heatmap_mode">Heatmap Mode (BETA)</label><br/>
						<input type="submit" value="Search"/>
					</fieldset>
				</form>
			{% endif %}

				<br />
				<br />
				<strong>Technical Things You Might Not Care About</strong>
				<br />
				<br />
				<em>Schedule ID</em>
				<ul>
					<li>The schedule ID is a 5-digit hexadecimal number displayed on top of the schedule.</li>
					<li>It is designed to be unique in the context of a search query.</li>
					<li>You can use it to uniquely identify a schedule you like. It won't change even if the sorting order changes.</li>
				</ul>
				<em>Enlistment Probability</em>
				<ul>
					<li>CRS-o-matic knows some basic probability theory. Based on the demand and available slots, it can calculate your chances of preenlisting a class.</li>
					<li>Classes with identical schedules are lumped together. Probabilities are computed by adding total demand and available slots.</li>
					<li>You would want a schedule with a high probability mean and a low standard deviation.</li>
					<li>Schedules are sorted based on the probabilities of individual classes, not the mean probabilities of the schedule. (<em>see next point</em>)</li>
					<li>The order of classes in the search query matters. The first class determines the first-level sorting of the schedules (and so on).</li>
				</ul>
				<em>Parent-Child Matching</em>
				<ul>
					<li>The parent-child relationship of classes is inferred from their sections.</li>
					<li>Course numbers with obscure naming formats might be unsupported.</li>
				</ul>

				<strong>Disclaimer:</strong>
				<p>All data presented by CRS-o-matic ('The Software') are just parsed from the <a href="http://crs.upd.edu.ph/schedule">CRS website</a> and are not modified in any way. Thus, I will not be responsible for any misleading or erroneous information produced by the software due to inconsistencies or errors in the CRS website. I will also not be responsible for any misleading or erroneous information caused by bugs in the software. If you want to know how the software works, feel free to <a href="https://github.com/baudm/crs-o-matic">get the source</a>.</p>

				<p class="icon">
					<a href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fcrs-o-matic.appspot.com">
						<img src="https://www.w3.org/html/logo/badge/html5-badge-h-solo.png" width="31" height="31" alt="HTML5 Powered" title="HTML5 Powered"/>
					</a>
					<a href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fcrs-o-matic.appspot.com">
						<img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!"/>
					</a>
				</p>
				<p class="copyright">
					Last Update: LAST_UPDATE_DATE (<a href="https://github.com/baudm/crs-o-matic/commit/VER_FULL">VER_ABBREV</a>)<br />
					Copyright &copy; 2008-2020 <a href="https://github.com/baudm" title="Darwin Bautista">Darwin Bautista</a>
				</p>
			</div>
		</div>
	</body>
</html>
